.container_form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.container_form:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.container_form > input {
  border: none;
  border-bottom: 2px solid #999;
  outline: none;
  transition: border 0.3s ease;
}

.container_form > input:focus {
  border-bottom: 2px solid #000;
}

.submit_button {
  outline: 0;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.submit_button:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}

.clear_button {
  outline: 0;
  color: #fff;
  background-color: #ff401f;
  border-color: #ff401f;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.clear_button:hover {
  color: #fff;
  background-color: #fc6146;
  border-color: #fc6146;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.navbar:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.table {
  padding: 15px;
  border-collapse: separate;
  border-spacing: 3px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.table:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.table td {
  border: 1px solid black;
  border-radius: 5px;
  padding: 7px;
}

.text_center {
  text-align: center;
}

.create_quiz_input {
  border: none;
  border-bottom: 2px solid #999;
  outline: none;
  transition: border 0.3s ease;
}

.create_quiz_input:hover {
  border-bottom: 2px solid #000;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

.place_itself_center {
  margin-left: auto;
  margin-right: auto;
}

.padding_20px {
  padding: 20px;
}

.padding_top_80_sides {
  padding: 80px 20px 20px 20px;
}

.row {
  display: flex;
  align-items: center;
  gap: 15px;
}

.row_space_between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 10px; */
  gap: 10px;
}

.row_space_around {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* padding: 10px; */
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.border {
  border: 2px solid black;
  border-radius: 5px;
}

.width_400 {
  width: 400px;
}

.width_500 {
  width: 500px;
}

.margin_top {
  margin-top: 20px;
}

.green {
  font-size: 18px;
  color: green;
}

.red {
  font-size: 18px;
  color: red;
}
