* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
}

input {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

button {
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}
